services:
  ods-downloader:
    image: alpine/curl:latest
    volumes:
      - ./tables:/tables
      - ./scripts:/scripts
    command: ["/scripts/download_gp_ods.sh"]
    user: root

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_PORT: 5432
    user: root
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "8000:5432"
    volumes:
      - ./output:/output
      

  codes-builder:
    build: .
    depends_on:
      ods-downloader:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:postgres@postgres:5432/postgres
    user: root
    command: >
      sh -c  "
         python scripts/process_ods.py &&
         python scripts/build_postgres.py &&
         python scripts/build_sqlite.py output/registry_codes.sqlite &&
         python scripts/build_sqlite.py output/registry_codes_ods.sqlite --large-tables"
    volumes:
      - ./output:/app/output
      - ./tables:/app/tables

  postgres-dump:
    image: postgres:latest
    depends_on:
      codes-builder:
        condition: service_completed_successfully
    volumes:
      - ./output:/output
    entrypoint: ["/bin/sh", "-c", "PGPASSWORD=postgres pg_dump --username postgres --dbname postgres --host postgres --clean --if-exists --no-owner --no-privileges -Fc > /output/registry_codes.dump"]